<div id="calousel-box" [ngStyle]="{'width': calousel_width+'px', 'height': calousel_height+'px'}">
  <div #calouselcontainer class="calousel-container" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center" class="ng-carousel-item" *ngFor="let item of Images;let index = index"
      [ngStyle]="{'transform': _translateX}">
      <img src="{{item}}">
    </div>
    <div class="bt_index_array" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
      <span class="pointer bt_index" *ngFor="let item of class_now_array" (click)="fn_selectChange(item)" [ngClass]="{'selected':(class_now_array.length<=4&&item===selectedIndex)||(class_now_array.length>4&&item===selectedIndex)}"></span>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
  <a class="pointer" (click)="fn_previous()">bef</a>
  <a class="pointer" (click)="fn_next()">nex</a>
</div>
