/* You can add global styles to this file, and also import other style files */

html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.pointer {
    cursor: pointer !important;
}

$textAlign-List:'center' 'left' 'right';
@each $textTyle in $textAlign-List {
    .text-#{$textTyle} {
        text-align: #{$textTyle} !important;
    }
}

$BoxType:'border-box' 'content-box';
@each $box in $BoxType {
    .#{$box} {
        box-sizing: #{$box} !important;
    }
}

@for $i from 6 through 25 {
    .fs-#{$i*2} {
        font-size: #{$i*2}px !important;
    }
}

@for $i from 2 through 200 {
    .w-#{$i*4} {
        width: #{$i*4}px !important;
    }
    .h-#{$i*4} {
        height: #{$i*4}px !important;
    }
}

@for $i from 2 through 50 {
    .lh-#{$i*2} {
        line-height: #{$i*2}px !important;
    }
}

@for $i from 1 through 50 {
    .m-#{$i*4} {
        margin: #{$i*4}px !important;
    }
    .p-#{$i*4} {
        padding: #{$i*4}px !important;
    }
    .ml-#{$i*4} {
        margin-left: #{$i*4}px !important;
    }
    .mr-#{$i*4} {
        margin-right: #{$i*4}px !important;
    }
    .mt-#{$i*4} {
        margin-top: #{$i*4}px !important;
    }
    .mb-#{$i*4} {
        margin-bottom: #{$i*4}px !important;
    }
    .mx-#{$i*4} {
        margin-left: #{$i*4}px !important;
        margin-right: #{$i*4}px !important;
    }
    .my-#{$i*4} {
        margin-top: #{$i*4}px !important;
        margin-bottom: #{$i*4}px !important;
    }
    .pl-#{$i*4} {
        padding-left: #{$i*4}px !important;
    }
    .pr-#{$i*4} {
        padding-right: #{$i*4}px !important;
    }
    .pt-#{$i*4} {
        padding-top: #{$i*4}px !important;
    }
    .pb-#{$i*4} {
        padding-bottom: #{$i*4}px !important;
    }
    .px-#{$i*4} {
        padding-left: #{$i*4}px !important;
        padding-right: #{$i*4}px !important;
    }
    .py-#{$i*4} {
        padding-top: #{$i*4}px !important;
        padding-bottom: #{$i*4}px !important;
    }
}